#eu-cookie-message{
position: fixed;
bottom: 0;
width: 100%;
padding: 20px;
text-align: center;
color: #fff;
background-color: #333;
}
#eu-cookie-message form{
border:0;
margin:0;
padding:0;
}
#eu-cookie-message form input{
display: block;
margin: 15px auto 0 auto;
padding: 5px 10px;
background-color: #green;
border: 2px solid #787252;
border-radius: 5px;
cursor: pointer;
}